<div class="main">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/fee-list">
        <img src="../../assets/images/logo.png" alt="Eleven 4 Generator">
      </a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHead">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse navHead">
        <ul class="nav navbar-nav navbar-right myNavBar">
          <li>
            <a class="dropdown-toggle" *ngIf="typeCheck" data-toggle="dropdown">ADMIN OPERATIONS
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/employee-entry">ADD EMPLOYEE</a>
              </li>
              <li>
                <a routerLink="/employee-list">EMPLOYEE LIST</a>
              </li>
              <li>
                <a routerLink="/defaulter-list">DEFAULTER LIST</a>
              </li>
              <li>
                <a routerLink="/admin-account">MY BANK</a>
              </li>
              <li>
                <a routerLink="/super-bank">SUPER ADMIN BANK</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown">EMPLOYEE MODULE
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/customer-entry">ADD CUSTOMER</a>
              </li>
              <li>
                <a routerLink="/customer-list">CUSTOMER LIST </a>
              </li>
              <li>
                <a routerLink="/fee-entry">ADD FEE </a>
              </li>
              <li>
                <a routerLink="/fee-list">PAID LIST</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/employee-bank">EMPLOYEE ACCOUNT</a>
          </li>
          <li>
            <a (click)="onLogoutClick()" href="">LOGOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>