.dropdown-toggle:hover{
    cursor: pointer; 
}

.navbar-default .navbar-nav>li>a{
    color: white;
    font-weight: lighter;
}
img{
    margin-top: -12px !important;
    width: 130px;
    height: 40px;
}
.container-fluid{
    /* background-color: rgb(32, 3, 3) !important ; */
    background-color: #265a88 !important ;
}